html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  width: 480px;
  height: 1055px;
  margin: auto;
  /* overflow: auto; */
}
main {

}
header, aside, div, footer { /* Styles for boxes on same level */
                     /* OR add .box class to all these elems instead */
  background-color: black;
  color: lightgray;
  width: 480px;
  display: block; /* OR inline-block? */
  float: left;
  outline-width: 1px;
  outline-style: solid;
  outline-color: gray; 
  /* overflow: auto; */
}
p { /* Center ID letters horizontally and vertically */
  text-align: center;
  display: block; /* OR inline-block? */
  /* position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
header {
  height: 75px;
}
aside {
  height: 150px;
}
.rect-box {
  height: 125px;
}
.square-box { /* For smaller internal boxes for e,f,g,h */
  width: 240px;
  height: 250px;
}
footer {
  height: 80px;
}

/* Change background color for desktop view */
@media screen and (min-width: 780px) {
  header, div, aside, footer {
    background-color: lightgray;
    color: black;
    outline-width: 1px;
    outline-style: solid;
    outline-color: gray; 
    width: 960px;
    display: inline-block;
    /* float: left; */
  }
}

/* Breakpoint at 768px */
/* Must be responsive when page is refreshed */
/* Use SMACSS modularity */
/* Use float-based layout */
/* Use fixed px widths and exactly match widths specified in comps */
    /* Try 'outline' instead of border */
    /* Try box-sizing: border-box */
/* ID letter in each box should be centered horizont. and vert. */
/* For desktop view, content should be in channel of 960px max-width */
/* Use diff backgr color for boxes depending on mobile or desktop view */
    /* Use MQs for this? */
