/* Universal style settings */
html {
  box-sizing: border-box;
  color: black;
}
* {
  box-sizing: inherit;
}
body {
  /* width: 480px; */
  width: 100vw;
  /* height: 1055px; */
  /* height: calc(1055 * (1055/480)); */
  height: 100vh;
  margin: auto;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}