/* Mobile view (the default view) */
body {
  /* Not sure why, but this empty body selector is necessary, otherwise the mobile view is buggy. This empty body must be clearing some style rules for tablet and desktop. */
}
header, aside, div, footer { /* Alternative idea: add .box class to all these elems instead */
  width: 100%; /* Relative to viewport width */
  display: block;
  float: left;
  /* flex: left; */
  position: relative; /* Helps center text vertically */
  outline-width: 1px;
  outline-style: solid;
  outline-color: gray; 
}
p { /* Center text horizontally and vertically; learned from https://vanseodesign.com/css/vertical-centering/ */
  position: absolute; 
  top: 50%;
  left: 50%;
}
header {
  height: calc(100vh * (75/1055));
}
aside {
  height: calc(100vh * (150/1055));
}
.rect-box {
  height: calc(100vh * (125/1055));
}
.square-box { /* For smaller internal boxes for e,f,g,h */
  width: 50%; /* Relative to containing element, which in turn is relative to viewport width */
  height: calc(100vh * (250/1055));
}
footer {
  height: calc(100vh * (80/1055));
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Change to tablet view */
@media screen and (min-width: 480px) {

  main {
    /* Not sure why, but this empty main selector is necessary, otherwise the mobile view is buggy. This empty main must be clearing some style rules for tablet and desktop. */
  }
  header, div, aside, footer {
    outline-width: 1px;
    outline-style: solid;
    outline-color: gray; 
  }
  header {
    width: calc(100vw * (960/960));
    height: calc(100vh * (100/700));
  }
  aside {
    width: calc(100vw * (200/960));
    height: calc(100vh * (600/700));
  }
  .rect-box {
    width: calc(100vw * (380/960));
    height: calc(100vh * (200/700));
    display: inline-block;
  }
  .square-box {
    width: calc(100vw * (190/960));
    height: calc(100vh * (250/700));
  }
  footer {
    width: calc(100vw * (760/960));
    height: calc(100vh * (150/700));
  }
}
