/* Mobile view (the default view) */
#a {
  background-color: aqua;
}
#b {
  background-color: aquamarine;
}
#c {
  background-color: azure;
}
#d {
  background-color: bisque;
}
#e {
  background-color: blue;
}
#f {
  background-color: blueviolet
}
#g {
  background-color: brown;
}
#h {
  background-color: cadetblue;
}
#i {
  background-color: chartreuse;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Change to desktop view */
@media screen and (min-width: 768px) {
  #a {
    background-color: chocolate;
  }
  #b {
    background-color: coral;
  }
  #c {
    background-color: cornflowerblue;
  }
  #d {
    background-color: cornsilk;
  }
  #e {
    background-color: crimson;
  }
  #f {
    background-color: cyan;
  }
  #g {
    background-color: darkcyan;
  }
  #h {
    background-color: darkgoldenrod;
  }
  #i {
    background-color: darkgray;
  }
}